repos:
  - repo: https://github.com/mathGAnt/arquivos.git
    rev: v1.2.3
    hooks:
      - id: pre_commit_hook
        stages: [commit]
      - id: post_commit_hook
        stages: [post-commit]